
<div class="container-fluid">

    <div class="col-lg-6">
        <div class="form-group">
            <label>Звiдки</label>
            <input type="text" class="form-control" id="from" />
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label>Куди</label>
            <input type="text" class="form-control" id="to" />
        </div>
    </div>

    <div class="clear"></div>

    <div class="col-lg-12">
        <div class="form-group" style="text-align: center;">
            <button ng-click="calcRoute();" class="btn btn-primary">Прокласти шлях</button>
        </div>
    </div>
</div>

        <hr />

        <div class="container-fluid">
            <div class="col-lg-3">
                <ul class="list-group">
                    <li class="list-group-item " ng-class="{'active': route.selected}" ng-repeat="route in handledRoutes" ng-click="setRoute(route.num);" >

                        <div style="float:right;width:50px;height:50px;background: {{ route.color }}"></div>
                        <p>Маршрут №{{ route.num }}</p>
                        <p>Кількість балів: {{ route.rate }}</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div id="map"></div>
            </div>
        </div>